- for result in results
  %li
    - artigo = result['artigo']
    %h4= artigo['titulo']
    %p Conferência: #{h result['conferencia']['nome']}
    %p Autor: #{h result['pessoa']['nome']}
    - unless result['departament'].nil? or result['departamento']['nome'].nil?
      %p Departamento: #{h result['departamento']['nome']}
    %p.tags
      %span.tag.red= artigo['idioma']
      %span.tag.blue= artigo['ano']