- for result in results
  %li
    %h4= result['capitulo']['titulo']
    %p Livro: #{h result['livro']['titulo']}
    %p Autor: #{h result['pessoa']['nome']}
    - unless result['departamento'].nil? or result['departamento']['nome'].nil?
      %p Departamento: #{h result['departamento']['nome']}
    %p Páginas: #{result['capitulo']['paginicio'] || 'N/A'} - #{result['capitulo']['pagfim'] || 'N/A'}
    %p.tags
      %span.tag.red= result['capitulo']['idioma']
      %span.tag.blue= result['capitulo']['ano']