%h2 Inconsistências

- if not emandamento.empty?
  %h3 Orientações Em Andamento relacionadas com Formações
  %table{:border => 1}
    %tr
      %th
        Status
      %th{:width => "10%"}
        Atributo
      %th{:width => "20%"} 
        Dados da Orientação
      %th{:width => "20%"}
        Dados da Formação
      %th{:width => "45%"}
        Mensagem
    - for result in emandamento
      %tr
        %td{:colspan => 5}
          %font
            %b #{result['sumario']}
      - for item in result['lista']
        %tr
          %td
            %center
              %img(src="/images/icons/#{item['icone']}.png")
          %td
            %p #{item['campo']}
          %td
            %p #{item['left']}
          %td
            %p #{item['right']}
          %td
            %p #{item['msg']}

- if not concluidas.empty?
  %h3 Orientações Concluídas relacionadas com Formações
  %table{:border => 1}
    %tr
      %th
        Status
      %th{:width => "10%"}
        Atributo
      %th{:width => "20%"}
        Dados da Orientação
      %th{:width => "20%"}
        Dados da Formação
      %th{:width => "45%"}
        Mensagem
    - for result in concluidas
      %tr
        %td{:colspan => 5}
          %font
            %b #{result['sumario']}
      - for item in result['lista']
        %tr
          %td
            %center
              %img(src="/images/icons/#{item['icone']}.png")
          %td
            %p #{item['campo']}
          %td
            %p #{item['left']}
          %td
            %p #{item['right']}
          %td
            %p #{item['msg']}
%br