- for result in results
  %li
    - artigo = result['artigo']
    %h4= artigo['titulo']
    %p Periodico: #{h result['periodico']['titulo']} - ISSN: #{h result['periodico']['ISSN']}
    - unless result['pessoa'].nil? or result['pessoa']['nome'].nil?
      %p Autor: #{h result['pessoa']['nome']}
    - unless result['departamento'].nil? or result['departamento']['nome'].nil?
      %p Departamento: #{h result['departamento']['nome']}
    %p.tags
      - if !artigo['idioma'].nil?
        %span.tag.red= artigo['idioma']
      - if !result['periodico']['estrato'].nil?
        %span.tag= result['periodico']['estrato']
      - if !result['area'].nil?
        %span.tag= result['area']['nome']
      %span.tag.blue= artigo['ano']