%h2 Formação
- cv = ''
- for result in results
  - if cv == '' or cv != result['nome']['id']
    - cv = result['nome']['id']
    %h4
      %a{:href => "http://lattes.cnpq.br/${result['id']['id']}"}
        #{result['nome']['id']}:
    - contador = 0
    
  - contador = contador + 1
  %table
    %tr{:valign => 'top'}
      %td{:rowspan => '4'}
        #{contador}.    
      %td        
        %b
          #{result['nivel']['id']}.                 
        #{result['anoInicio']['id']}
        #{' - '+result['anoConclusao']['id'] if result['anoConclusao']}.
        #{'Obtenção do Título em '+ result['anoObtencao']['id'] + '.' if result['anoObtencao']}
    %tr{:valign => 'top'}
      %td
        #{'Orientador(es): '+ result['orientador']['id'] + '.' if result['orientador']}
        #{'Título: '+ result['titulo']['id'] + '.' if result['titulo']}
    %tr{:valign => 'top'}
      %td
        #{'Instituição: '+ result['nomeinstituicao']['id'] + '.' if result['nomeinstituicao']}
        #{'Agência: '+ result['nomeagencia']['id'] + '.' if result['nomeagencia']}
    %tr{:valign => 'top'}
      %td
        - if result['op']
          %a{:href => "/desassociar/#{uri}/#{result['formacao']['id']}"}
            Desassociar
        - else
          %a{:href => "/associar/#{uri}/#{result['formacao']['id']}"}
            Associar


