%h3 Orientações
%ul
  %li
    %b Orientações em andamento
    %ul
      %li 
        %a(href='/orientacoesEmAndamento/OrientacaoEmAndamentoDePosDoutorado') Supervisão de pós-doutorado (#{sumario["orientacaoemandamentodeposdoutorado"]})
      %li 
        %a(href='/orientacoesEmAndamento/OrientacaoEmAndamentoDeDoutorado') Tese de doutorado (#{sumario["orientacaoemandamentodedoutorado"]})
      %li 
        %a(href='/orientacoesEmAndamento/OrientacaoEmAndamentoDeMestrado') Dissertação de mestrado (#{sumario["orientacaoemandamentodemestrado"]})        
      %li
        %a(href='/orientacoesEmAndamento') Total de orientações em andamento (#{sumario["orientacaoemandamento"]})  
  %li
    %b Supervisões e orientações concluídas
    %ul
      %li 
        %a(href='/orientacoesConcluidas/OrientacoesConcluidasParaPosDoutorado') Supervisão de pós-doutorado (#{sumario["orientacoesconcluidasparaposdoutorado"]})        
      %li 
        %a(href='/orientacoesConcluidas/OrientacoesConcluidasParaDoutorado') Tese de doutorado (#{sumario["orientacoesconcluidasparadoutorado"]})
      %li
        %a(href='/orientacoesConcluidas/OrientacoesConcluidasParaMestrado') Dissertação de mestrado (#{sumario["orientacoesconcluidasparamestrado"]})
      %li 
        %a(href='/orientacoesConcluidas/OrientacoesConcluidasParaGraduacao') Trabalho de conclusão de curso de graduação (#{sumario["orientacoesconcluidasparagraduacao"]})
      %li 
        %a(href='/orientacoesConcluidas/OrientacoesConcluidasParaIniciacaoCientifica') Iniciação científica (#{sumario["orientacoesconcluidasparainiciacaocientifica"]})
      %li 
        %a(href='/orientacoesConcluidas') Total de orientações concluídas (#{sumario["orientacoesconcluidas"]})

%h3 Produção bibliográfica
%ul
  %li 
    %a(href='/producoesbibliograficas/ArtigosPublicados') Artigos completos publicados em periódicos (#{sumario['artigospublicados']})
  %li 
    %a(href='/producoesbibliograficas/ArtigosAceitos') Artigos aceitos em periódicos para publicação (#{sumario['artigosaceitosparapublicacao']})    
  %li 
    %a(href='/producoesbibliograficas/LivrosPublicados') Livros publicados/organizados ou edições (#{sumario['livrospublicadosouorganizados']})  
  %li 
    %a(href='/producoesbibliograficas/CapitulosPublicados') Capítulos de livros publicados (#{sumario['capitulosdelivrospublicados']})
  %li 
    %a(href='/producoesbibliograficas/TextosPublicados') Textos em jornais de notícias/revistas (#{sumario['textosemjornaisourevistas']})   
  %li 
    %a(href='/producoesbibliograficas/TrabalhosCongresso') Trabalhos completos ou resumos publicados em anais de congressos (#{sumario['trabalhosemeventos']})  
  %li 
    %a(href='/producoesbibliograficas/OutrasProducoes') Demais tipos de produção bibliográfica (#{sumario['outraproducaobibliografica']}) 
  %li 
    %a(href='/producoesbibliograficas') Total de produção bibliográfica (#{sumario["producaobibliografica"]})
  
%h3 Produção técnica
%ul
  %li Trabalhos técnicos
  %li Demais tipos de produção técnica
  %li Total de produção técnica

%h3 Produção artística
%ul
  %li Total de produção artística
  
%h3 Projetos de pesquisa
%ul
  %li Total de projetos de pesquisa

%h3 Prêmios e títulos
%ul
  %li Total de prêmios e títulos

%h3 Participação em eventos
%ul
  %li Total de participação em eventos

%h3 Organização de eventos
%ul
  %li Total de organização de eventos

%h3 Grafo de colaborações