%h3 Lista de Membros
%table
  - results.each_with_index do |membro,c| 
    %tr
      %td{:valign => "center", :height => "40px"}        
        #{c+1}.
      %td{:valign => "top", :height => "40px"}
        %img{:src => "#{membro['foto']['id']}", :width => "40px"}
      %td
        %a{:href => "http://lattes.cnpq.br/#{membro['id']['id']}"} #{membro['nome']['id']}
      %td{:class => "centered"}
        %a{:href => "http://scholar.google.com.br/citations?view_op=search_authors&mauthors=#{membro['nome']['id']}"}
          %font{:size => "-1"}
            [ Citações em Google Acadêmico &#124; 
      %td{:class => "centered"}
        %a{:href => "http://academic.research.microsoft.com/Search?query=author:(#{membro['nome']['id']})"}
          %font{:size => "-1"}
            Citações em Microsoft Acadêmico ]      