%script{:type => 'text/javascript', :src => 'https://www.google.com/jsapi'}
%script{:type => 'text/javascript'}
  google.load('visualization', '1.0', {'packages':['corechart']}); 
  google.setOnLoadCallback(drawChart);
  function drawChart() 
  {  
  var data = new google.visualization.DataTable();  
  data.addColumn('string', 'Ano');
  data.addColumn('number', 'Número Produções');  
  data.addRows([
  -sumario.each_with_index do |(k,v),i|
    ["#{k}", #{v}]
    -unless i == sumario.length-1 
      ,
  ]);
        
  var options =  {
  width: 800,
  height: 400,
  vAxis: {title: "Número de Produções Bibliográficas"},
  hAxis: {title: "Ano"},
  legend: {position: "none"},  
  seriesType: "bars",
  series: {5: {type: "line"}},
  
  };
  
  var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
  chart.draw(data, options);
  }
  
#chart_div
%h2= titulo
%p Número total de itens: #{size}
- ano = 0
- for result in results
  - if ano == 0 or ano != result['ano']['id']
    - ano = result['ano']['id']
    - contador = 0
    %h3.year= ano
    
  - contador = contador + 1
  %table
    %tr{:valign => 'top'}
      %td
        #{contador}. 
      %td
        -if !result['idautor']        
          #{result['autor']['id']}.
        -else
          -link = 'http://lattes.cnpq.br/' + result['idautor']['id']
          %a{:href => link}
            #{result['autor']['id']}.                                              
        %b #{result['titulo']['id'] if result['titulo']}.
        #{result['tituloPeriodico']['id'] if result['tituloPeriodico']}.
        v. #{result['volume']['id'] if result['volume']},
        p. #{result['paginaInicial']['id'] if result['paginaInicial']} #{' - '+ result['paginaFinal']['id'] if result['paginaFinal']},
        #{result['ano']['id'] if result['ano']}.
        %br
        - busca = result['titulo']['id'].gsub(' ','+')
        [ <a href="http://scholar.google.com/scholar?hl=en&lr=&q=#{busca}&btnG=Search">Citações em Google Scholar</a>  
        | <a href="http://academic.research.microsoft.com/Search?query=#{busca}">Citações em Microsoft Acadêmico </a> 
        | <a href="http://www.google.com/search?btnG=Google+Search&q=#{busca}">Busca Google</a> ]

